@import url('https://fonts.cdnfonts.com/css/upheaval');
@import 'css/banner.css';
@import 'css/media.css';

:root {
    --font-upheaval: "Upheaval TT (BRK)", sans-serif;
    --h1-color: #e5ff00;
    --gr-color: red;
    --gb-color: blue;
    --bg-img: url('public/img/bg02.jpg');
    --model-img: url('public/img/cyberman2.png');
    --hair-img: url('public/img/hair.png');
    --model-filter: drop-shadow(0 0 70px rgba(0, 0, 0, 1));
    --footer-bg-color: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    align-items: center;
    font-family: var(--body-font-family);
    min-height: 100svh;
    background-image: var(--bg-img);
    background-color: black;
    background-size: contain;
    background-position: center;
    backdrop-filter: invert(90%) blur(2px);
    margin: 0;
}

p {
    font-size: 1.7rem;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100svw;
    height: 8svh;
    justify-content: center;
    align-items: center;
    font-family: var(--font-upheaval);
    background-color: var(--footer-bg-color);
    color: white;
    z-index: 2;
}

.footer p {
    font-size: 3vh;
}


.model {
    width: 100%;
    height: 95svh;
    position: absolute;
    bottom: 0;
    background: var(--model-img);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    filter: var(--model-filter);
    z-index: 0;
}

.hair {
    background: var(--hair-img);
    width: 100%;
    height: 95svh;
    position: absolute;
    bottom: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    filter: var(--model-filter);
    z-index: 2;
}

.h1 {
    position: absolute;
    bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--font-upheaval);
    font-size: 15vw;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--h1-color);
    mix-blend-mode: exclusion;
    z-index: 2;
    animation: glitch 900ms infinite 5000ms alternate-reverse;
}

h1 {
    --x: 15px;
    --revx: -15px;
}

@keyframes glitch {
    0% {
        text-shadow: -3px 3px 0 var(--gr-color), 3px -3px 0 var(--gb-color);
        transform: translate(var(--x));
    }

    1% {
        text-shadow: 3px -3px 0 var(--gr-color), -3px 3px 0 var(--gb-color);
    }

    5% {
        text-shadow: 8px -8px 0 var(--gr-color), -8px 8px 0 var(--gb-color);
        transform: translate(var(--revx));
    }

    6%,
    100% {
        text-shadow: none;
        transform: none;
    }
}